body {
    font-family: Raleway, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #800080;
    color: #333;
    text-align: center;
}

header {
    background: #00FF00;
    color: green;
    padding: 2rem 0;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: white;
}

h1 { margin-bottom: 0; }

footer {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #777;
}
